body {
  margin: 0;
  padding: 0;
  background-image: url('../public/img/Background_X_Tile.png'); /* Ganti dengan path ke file gambar */
  background-repeat: repeat;
  background-size: auto; /* Bisa juga diatur ke "contain" atau "cover" tergantung kebutuhan */
  color: #fff;

  font-family: "Ropa Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; /* Hindari scroll horizontal */
}
